# Example file for signing configuration.
# Copy this file to 'keystore.properties' and fill in the actual values.
# NEVER commit the real 'keystore.properties' or your .jks files to Git!

keyAlias=your_key_alias
keyPassword=your_key_password
storeFile=path/to/your/release.jks
storePassword=your_store_password
